@use "../base/variables" as *;
@use "../base/typography" as *;
@use "../objects/objects" as *;
@use "../base/functions" as *;
@use "../base/mixins" as *;

body {
  @include text-style($font-family-primary, $font-weight-regular, $font-style-normal, 1rem, 1.6, $color-dark);
  background-color: #ffe4fe;
  flex-direction: column;
  width: 100%;
  margin: 0;
}

h1,
h2,
h3 {
  @include text-style($font-title, $font-weight-regular, $font-style-normal, 2rem, 1.2, $color-dark);
}

.itinerario__image {
  border-radius: 12px;
  width: 100%;
}

/*__________________________________________________________________________
  ----------------------------- VERSION MOBILE ----------------------------
____________________________________________________________________________*/
@media screen and (max-width: $bp-small) {
  body {
    overflow-x: hidden;
    width: 100%;
  }

  /*----------------------HEADER MOBILE----------------*/
  .header {
    background-color: $color-accent;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
    padding-top: 1rem;

    /*------------------LOGO MOBILE------------------- */
    .header__logo-img {
      margin-left: 0px;
      width: 20px; // tamaño visual fijo
      height: auto;
    }
  }

  /*----------- HERO MOBILE-------------- */
  .hero {
    min-height: 40vh;
    width: 100%;

    @supports (clip-path: polygon(0 0)) {
      clip-path: polygon(0 0,
          100% 0,
          100% 85%,
          50% 100%,
          0 85%);
    }
  }

  .hero__subtitle {
    font-size: responsive-font(1.2rem);
  }

  .hero__title {
    font-size: responsive-font(3rem);
    max-width: fit-content;
  }

  .hero__title--detalle {
    font-size: responsive-font(3rem);
    max-width: fit-content;
  }

  .hero__title--attributions {
    font-size: responsive-font(3rem);
  }

  .hero3 {
    height: 30%;
  }

  .attributions {
    margin: 1em;
  }

  /*----------------------------INTRO MOBILE -------------------------*/
  .intro__text {
    font-size: 0.6rem;
  }

  /*------------------------ ITINERARIO MOBILE-------------------------*/
  .travel-icon {
    @keyframes floatUpDown {
      0% {
        transform: translateY(0);
      }

      50% {
        transform: translateY(-20px);
      }

      100% {
        transform: translateY(0);
      }
    }

    display: block;
    margin: 2rem auto;
    width: 200px;
    height: 200px;
    animation: floatUpDown 3s ease-in-out infinite;
  }

  .itinerario__title {
    font-size: 1rem;
    margin-bottom: 1%;
  }

  .itinerario__row {
    flex-direction: column;
    margin-bottom: 5%;
  }

  .itinerario__row--two-columns {
    flex-direction: column;
  }

  .itinerario__row--image-first {
    flex-direction: column-reverse;
  }

  .itinerario__image {
    width: 100%;
  }

  .itinerario__text {
    font-size: 0.6rem;
    line-height: 1.6;
    margin-bottom: 1rem;
  }

  .itinerario__rights {
    font-size: 0.4rem;
  }

  .main-content {
    width: 100%;
    margin: 0 auto;
  }

  /* -----------------------FOOTER MOBILE--------------------*/
  .footer {
    .footer__title {
      font-size: 0.8rem;
    }

    .footer__description {
      font-size: 0.6rem;
    }

    .footer__bottom {
      margin-top: 0.5rem;
      font-size: 0.4rem;
    }
  }
}

/*__________________________________________________________________________
----------------------------- VERSION TABLET ----------------------------
____________________________________________________________________________*/

@media screen and (min-width: $bp-small) and (max-width: $bp-medium) {

  /*-----------------------HEADER TABLET--------------------------*/
  .header {
    background-color: $color-accent;
    padding: 1rem;

    .header__container {
      padding: 18px 24px;
    }

    /*----------------------LOGO TABLET----------------------- */
    .header__logo-img {
      margin-left: 0px;
      width: 30px; // tamaño visual fijo
      height: auto;
    }
  }

  /*------------------------HERO TABLET-------------------------- */
  .hero {
    min-height: 40vh;

    @supports (clip-path: polygon(0 0)) {
      clip-path: polygon(0 0,
          100% 0,
          100% 85%,
          50% 100%,
          0 85%);
    }
  }

  .hero__subtitle {
    padding-right: 20%;
    font-size: responsive-font(1.2rem, 1.1);
  }

  .hero__title {
    font-size: responsive-font(4rem, 1.5);
  }

  /*-----------------------INTRO TABLET-------------------------*/
  .intro__text {
    font-size: 0.8rem;
  }

  .travel-icon {
    @keyframes floatUpDown {
      0% {
        transform: translateY(0);
      }

      50% {
        transform: translateY(-20px);
      }

      100% {
        transform: translateY(0);
      }
    }

    display: block;
    margin: 2rem auto;
    width: 200px;
    height: 200px;
    animation: floatUpDown 3s ease-in-out infinite;
  }

  /*-----------------------ITINERARIO TABLET-------------*/
  .itinerario__title {
    font-size: 1.5rem;
    margin-bottom: 1%;
  }

  .itinerario__row {
    flex-direction: column;
    gap: 2rem;
    margin-bottom: 5%;
  }

  .itinerario__row--two-columns {
    display: flex;
    flex-direction: row;
    gap: 5%;
    align-items: center;

    .itinerario__column {
      width: 50%;
    }

    .itinerario__image {
      width: 45%;
    }

    &.itinerario__row--image-first {
      flex-direction: row-reverse;
    }

    .itinerario__text {
      font-size: 0.8rem;
      line-height: 1.6;
      margin-bottom: 1rem;
    }

    .itinerario__content {
      flex: 1;
      display: flex;
      align-items: center;
    }
  }

  .itinerario__rights {
    font-size: 0.6rem;
  }

  .main-content {
    width: 100%;
    margin: 0 auto;
  }

  /* --------------------FOOTER TABLET---------------------- */
  .footer {
    .footer__title {
      font-size: 1.2rem;
    }

    .footer__description {
      font-size: 0.9rem;
    }

    .footer__bottom {
      margin-top: 1rem;
      font-size: 0.9rem;
    }
  }
}

/*__________________________________________________________________________
----------------------------- VERSION DESKTOP ----------------------------
____________________________________________________________________________*/
@media screen and (min-width: $bp-large) {

  /*--------------------HEADER DESKTOP-------------------------*/
  .header {
    width: 100%;
    background-color: $color-accent;
  }

  .header__container {
    padding: 18px 24px;
  }

  /*---------------------LOGO DESKTOP-------------------*/
  .header__logo-img {
    margin-left: 0px;
    width: 30px; // tamaño visual fijo
    height: auto;
  }


  /*-----------------------------HERO DESKTOP-------------------------*/
  .hero {
    min-height: 70vh;

    @supports (clip-path: polygon(0 0)) {
      clip-path: polygon(0 0,
          100% 0,
          100% 85%,
          50% 100%,
          0 85%);
    }
  }

  .hero__title {
    font-size: responsive-font(3rem, 2);
    line-height: 0.9;
  }

  .hero__subtitle {
    padding-left: 30%;
    padding-right: 20%;
    font-size: responsive-font(1.2rem, 1.5);
  }

  /*------------------INTRO DESKTOP-------------------------*/
  .intro__text {
    font-size: 1rem;
  }


  .travel-icon {
    @keyframes floatUpDown {
      0% {
        transform: translateY(0);
      }
      50% {
        transform: translateY(-20px);
      }
      100% {
        transform: translateY(0);
      }
    }
    display: block;
    margin: 2rem auto;
    width: 200px;
    height: 200px;
    animation: floatUpDown 3s ease-in-out infinite;
  }

  /*--------------------ITINERARIO DESKTOP--------------------*/
  .itinerario__title {
    font-size: 2rem;
    margin-bottom: 4%;
  }

  .itinerario__row {
    flex-direction: row;
    gap: 5%;
    align-items: center;
  }

  .itinerario-item {
    margin-top: 10%;
    display: flex;
  }

  .itinerario__row--two-columns {
    display: flex;
    flex-direction: row;
    gap: 5%;
    align-items: stretch;

    .itinerario__column {
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    .itinerario__image {
      width: 45%;
      object-fit: cover;
    }

    .itinerario__text {
      margin: 0;
    }

    .itinerario__content {
      flex: 1;
      display: flex;
      align-items: center;
    }

    &.itinerario__row--image-first {
      flex-direction: row-reverse;
    }
  }

  .video-responsive {
    width: 100%;
    position: relative;
    padding-bottom: 56.25%;
    /* 16:9 */
    padding-top: 25px;
    margin-bottom: 2rem;
  }

  .video-responsive iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
  }

  /*----------------FOOTER DESKTOP-----------------------*/
  .footer {
    .footer__title {
      font-size: 1.4rem;
    }

    .footer__bottom {
      margin-top: 18px;
      font-size: 1rem;
    }

    .footer__nombre {
      margin: 0;
    }

    .footer__brand {
      display: flex; // coloca los hijos (img + p) en fila
      align-items: center;
      justify-content: center; // centra horizontalmente el conjunto
      text-align: left;

      .footer__logo {
        width: 60px;
        height: auto;
        margin-right: 5%;
      }

      .footer__description {
        font-size: 1rem;
        max-width: 60%;
        margin: 0;
      }
    }
  }
}